<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:"
    />

    <link rel="icon" href="images/favicon.png" />
    <title>Evone - eCommerce Mobile Template</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/framework7.bundle.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="view view-main view-init ios-edges" data-url="/">
        <div class="page">
          <div class="navbar navbar-page">
            <div class="navbar-inner sliding">
              <div class="left">
                <a href="#" class="link back">
                  <i class="fas fa-arrow-left"></i>
                </a>
              </div>
              <div class="title">Categories</div>
            </div>
          </div>
          <div class="page-content">
            <!-- all categoreis -->
            <div class="all-categories segments">
              <div class="container">
                <div class="row">
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-tshirt"></i>
                        <p>Apparel</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-car"></i>
                        <p>Automotive</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-basketball-ball"></i>
                        <p>Sports</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-headphones-alt"></i>
                        <p>Accessories</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-chair"></i>
                        <p>Furniture</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-plug"></i>
                        <p>Electronic</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-camera"></i>
                        <p>Photography</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-mobile-alt"></i>
                        <p>Handphone</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-utensils"></i>
                        <p>Food</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-hiking"></i>
                        <p>Outdoor</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-briefcase-medical"></i>
                        <p>Health</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-33">
                    <a href="/categories-details/">
                      <div class="content">
                        <i class="fas fa-pencil-ruler"></i>
                        <p>Stationary</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- end all categoreis -->
          </div>
        </div>
      </div>
    </div>

    <script src="js/framework7.bundle.min.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
