<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:"
    />

    <link rel="icon" href="images/favicon.png" />
    <title>Evone - eCommerce Mobile Template</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/framework7.bundle.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="view view-main view-init ios-edges" data-url="/">
        <div class="page">
          <div class="navbar navbar-page">
            <div class="navbar-inner sliding">
              <div class="left">
                <a href="#" class="link back">
                  <i class="fas fa-arrow-left"></i>
                </a>
              </div>
              <div class="title">Notification</div>
              <div class="right">
                <a href="/notification-settings/"><i class="fas fa-cog"></i></a>
              </div>
            </div>
          </div>
          <div class="page-content">
            <!-- notification -->
            <div class="notifi segments">
              <div class="container">
                <div class="title-time">
                  <span>TODAY</span>
                </div>

                <div class="content">
                  <img src="images/discount.png" alt="notification-image" />
                  <div class="text">
                    <h6>Discount up to 80% for all product</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Sint cum voluptates iste!
                    </p>
                  </div>
                </div>

                <!-- divider -->
                <div class="divider-space-content"></div>
                <!-- end divider -->

                <div class="content">
                  <img src="images/user-seller1.png" alt="notification-image" />
                  <div class="text">
                    <h6>John Store <span>Following you</span></h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Sint cum voluptates iste!
                    </p>
                  </div>
                </div>

                <!-- divider -->
                <div class="divider-space-content"></div>
                <!-- end divider -->

                <div class="content">
                  <img src="images/promo.png" alt="notification-image" />
                  <div class="text">
                    <h6>
                      Promo Code <a href="#"><span>P99DAY19</span></a>
                    </h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Sint cum voluptates iste!
                    </p>
                  </div>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="title-time">
                  <span>YESTERDAY</span>
                </div>

                <div class="content">
                  <img src="images/50-off.png" alt="notification-image" />
                  <div class="text">
                    <h6>50% Off</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Sint cum voluptates iste!
                    </p>
                  </div>
                </div>

                <!-- divider -->
                <div class="divider-space-content"></div>
                <!-- end divider -->

                <div class="content">
                  <img src="images/90-off.png" alt="notification-image" />
                  <div class="text">
                    <h6>
                      Special for you <a href="#"><span>90% Off</span></a>
                    </h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Sint cum voluptates iste!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end notification -->
          </div>
        </div>
      </div>
    </div>

    <script src="js/framework7.bundle.min.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
