<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:"
    />

    <link rel="icon" href="images/favicon.png" />
    <title>Evone - eCommerce Mobile Template</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/framework7.bundle.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="view view-main view-init ios-edges" data-url="/">
        <div class="page">
          <div class="navbar navbar-page">
            <div class="navbar-inner sliding">
              <div class="left">
                <a href="#" class="link back">
                  <i class="fas fa-arrow-left"></i>
                </a>
              </div>
              <div class="title">Order History</div>
              <div class="right"></div>
            </div>
          </div>
          <div class="page-content">
            <!-- order history -->
            <div class="order-history segments">
              <div class="container">
                <div class="title-time">
                  <span>YESTERDAY</span>
                </div>

                <div class="row">
                  <div class="col-20">
                    <div class="content">
                      <a href="/product-details/"
                        ><img src="images/product2.jpg" alt=""
                      /></a>
                    </div>
                  </div>
                  <div class="col-80">
                    <div class="content">
                      <a href="/product-details/"
                        ><p class="title-product">
                          Latest smartwatch - waterproof
                        </p></a
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-40">
                    <div class="content-left">
                      <p>Price</p>
                    </div>
                  </div>
                  <div class="col-60">
                    <div class="content-right">
                      <p class="price">$20.00</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-40">
                    <div class="content-left">
                      <p>Status</p>
                    </div>
                  </div>
                  <div class="col-60">
                    <div class="content-right">
                      <p>AVAILABLE</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-40">
                    <div class="content-left">
                      <p>Order ID</p>
                    </div>
                  </div>
                  <div class="col-60">
                    <div class="content-right">
                      <p>1345-02</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-40">
                    <div class="content-left add-action">
                      <p>Reorder</p>
                    </div>
                  </div>
                  <div class="col-60">
                    <div class="content-right">
                      <a href="#" class="button primary-button">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-40">
                    <div class="content-left add-action">
                      <p>Review the Product</p>
                    </div>
                  </div>
                  <div class="col-60">
                    <div class="content-right">
                      <a href="#" class="button secondary-button">Review</a>
                    </div>
                  </div>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="title-time">
                  <span>AUGUST 20, 2019</span>
                </div>

                <div class="row">
                  <div class="col-20">
                    <div class="content">
                      <a href="/product-details/"
                        ><img src="images/product4.jpg" alt=""
                      /></a>
                    </div>
                  </div>
                  <div class="col-80">
                    <div class="content">
                      <a href="/product-details/"
                        ><p class="title-product">
                          New console game - full color button
                        </p></a
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-40">
                    <div class="content-left">
                      <p>Price</p>
                    </div>
                  </div>
                  <div class="col-60">
                    <div class="content-right">
                      <p class="price">$20.00</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-40">
                    <div class="content-left">
                      <p>Status</p>
                    </div>
                  </div>
                  <div class="col-60">
                    <div class="content-right">
                      <p>SOLD OUT</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-40">
                    <div class="content-left">
                      <p>Order ID</p>
                    </div>
                  </div>
                  <div class="col-60">
                    <div class="content-right">
                      <p>1345-02</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-40">
                    <div class="content-left add-action">
                      <p>Reorder</p>
                    </div>
                  </div>
                  <div class="col-60">
                    <div class="content-right">
                      <a href="#" class="button primary-button">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-40">
                    <div class="content-left add-action">
                      <p>Review the Product</p>
                    </div>
                  </div>
                  <div class="col-60">
                    <div class="content-right">
                      <a href="#" class="button secondary-button">Review</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end order history -->
          </div>
        </div>
      </div>
    </div>

    <script src="js/framework7.bundle.min.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
