<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:"
    />

    <link rel="icon" href="images/favicon.png" />
    <title>Evone - eCommerce Mobile Template</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/framework7.bundle.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="view view-main view-init ios-edges" data-url="/">
        <div class="page">
          <div class="navbar navbar-page">
            <div class="navbar-inner sliding">
              <div class="left">
                <a href="#" class="link back">
                  <i class="fas fa-arrow-left"></i>
                </a>
              </div>
              <div class="title">Tracking Order</div>
              <div class="right"></div>
            </div>
          </div>
          <div class="page-content">
            <!-- shipping information -->
            <div class="shipping-information segments">
              <div class="container">
                <div class="timeline">
                  <div class="timeline-item info-active">
                    <div class="timeline-item-divider"></div>
                    <div class="timeline-item-content">
                      <div class="timeline-item-title">Successful Delivery</div>
                      <div class="timeline-item-text">
                        Order successfully accepted
                      </div>
                      <div class="timeline-item-time date">20-12-2019</div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-divider"></div>
                    <div class="timeline-item-content">
                      <div class="timeline-item-title">Delivered</div>
                      <div class="timeline-item-text">
                        Starting delivery to recipient
                      </div>
                      <div class="timeline-item-time date">20-12-2019</div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-divider"></div>
                    <div class="timeline-item-content">
                      <div class="timeline-item-title">Sorting Process</div>
                      <div class="timeline-item-text">
                        Arrived at the sorting place
                      </div>
                      <div class="timeline-item-time date">20-12-2019</div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-divider"></div>
                    <div class="timeline-item-content">
                      <div class="timeline-item-title">Delivery Process</div>
                      <div class="timeline-item-text">
                        Shipping centre transit
                      </div>
                      <div class="timeline-item-time date">20-12-2019</div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-divider"></div>
                    <div class="timeline-item-content">
                      <div class="timeline-item-title">Delivery Process</div>
                      <div class="timeline-item-text">
                        Arrived at the shipping distribution
                      </div>
                      <div class="timeline-item-time date">20-12-2019</div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-divider"></div>
                    <div class="timeline-item-content">
                      <div class="timeline-item-title">Packed up</div>
                      <div class="timeline-item-text">
                        Your order is being packed
                      </div>
                      <div class="timeline-item-time date">20-12-2019</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end shipping information -->
          </div>
        </div>
      </div>
    </div>

    <script src="js/framework7.bundle.min.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
